apiKey= FILL_IN_NO_QUOTES_COMMAS
authDomain= FILL_IN_NO_QUOTES_COMMAS
databaseURL= FILL_IN_NO_QUOTES_COMMAS
projectId= FILL_IN_NO_QUOTES_COMMAS
storageBucket= FILL_IN_NO_QUOTES_COMMAS
messagingSenderId= FILL_IN_NO_QUOTES_COMMAS
appId= FILL_IN_NO_QUOTES_COMMAS
measurementId= FILL_IN_NO_QUOTES_COMMAS