// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $sapphire,
  secondary: $gray-600,
  success: $green,
  info: #3e74c7,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// $container-max-widths: (
//   sm: 540px,
//   md: 640px,
//   lg: 710px,
//   xl: 780px,
// ) !default;
$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 900px,
  xl: 980px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import './fonts.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

a {
  color: $sapphire;
}

.blue-hover:hover {
  background-color: $sapphire !important;
}

.click {
  cursor: pointer;
}

.no-animation:hover {
  animation: none;
}

.profile-icon {
  width: 90%;
  max-width: 70px;
}